*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  background-color: rgb(114, 114, 114);
  padding: 20px;
  width: 700px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ar_button{
  padding: 3px 16px !important;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    font: 0.8125rem sans-serif;
    outline: none;
    z-index: 99999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ar_button svg{
  display: flex;
  align-items: center;
  justify-content: center;
}